body{
    margin: 0;
}

.container{
background-image: url('../img/castle_background\ \(1\).png') ;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 4675px;
width: 100%;
}

#crazy_boy{
position: fixed;
left: 0;
right: 0;   
top: -80px;
margin: auto;
background: url('../img/crazy_boys.png') 0 0 no-repeat;
width: 71px;
height: 80px;
background-size: 216px 240px;
transition: top 1s ease;
}

.animate{
animation: move 1s steps(3) infinite;
}

@keyframes move{
from{
    background-position-x: 0;
}
to{
    background-position-x: -216px;
}
}

@keyframes jump{
from{
  background-position-y: 0;  
}
to{
background-position-y: -240px;
}

}